#FileManagerContainer .FileManagerList .FileManagerHead {
    background: #5d5d5d;
    border-bottom: 1px solid #555555;
    color: #ffffff;
}

#FileManagerContainer .FileManagerHead svg path.svg-text {
    fill: #ffffff;
}

/**
 * Directory List Colors
 */
#Dirs .panel,
#FileManagerContainer .FileManagerListDirs {
    background: #747474;
    color: #ffffff;
}

.modal-dialog .modal-header,
.panel-info > .panel-heading {
    border: 0;
}

.panel-info > .panel-heading,
.panel-info > .panel-heading > button,
.modal-dialog .modal-header,
.modal-dialog .modal-header > button,
.panel-default > .panel-heading {
    background: #6b6b6b;
    color: #ffffff;
}

/**
 * Directory List Border Colors
 */
#Dirs .space-fill,
#FileManagerContainer .FileManagerListDirs li:not(.dir_active) > span > span.yw_file_manager_dir,
#FileManagerContainer .FileManagerListDirs li.dir_active > span > span.yw_file_manager_dir {
    border-color: #bdbdbd;
}

/**
* Files action colors
*/
div.block_row:hover {
    background-color: #f2f2f2;
}

div.block_row:hover,
#FileManagerContainer .FileManagerListItems .item_selected
#FileManagerContainer .FileManagerListItems .item_selected:hover,
div.block_row.item_selected:hover
{
    background-color: #e0e0e0;
}

#FileManagerContainer .FileManagerListItems .item_selected {
    background-color: #e3e3e3;
}

#FileManagerContainer .FileManagerListItems .item_selected:hover,
div.block_row.item_selected:hover {
    background-color: #dcdcdc;
}