/*
 *  dark
 */

#FileManagerContainer .FileManagerList .FileManagerHead
{
    background: #333;
    color: #fefefe;
    
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.9);
       -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.9);
            box-shadow: 0 1px 3px rgba(0,0,0,0.9);
}

#FileManagerContainer .FileManagerListDirs,
#Dirs .panel,
#Dirs .panel-default>.panel-heading
{
    background: #3f3f3f;
    border-radius: 0;
    color: #fefefe;
}

#Dirs .panel-default>.panel-heading
{
    background: #333;
}

#FileManagerContainer .FileManagerListDirs a,
#FileManagerContainer .FileManagerListDirs .panel-body > ul
{
    color: #fefefe;
}

#FileManagerContainer .FileManagerListDirs li.dir_active > span > span.yw_file_manager_dir
{
    background: #333;
    
    -webkit-box-shadow: 0 0 20px 0 rgba(211,211,211,0.9) inset;
       -moz-box-shadow: 0 0 20px 0 rgba(211,211,211,0.9) inset;
            box-shadow: 0 0 20px 0 rgba(211,211,211,0.9) inset;
}

#FileManagerContainer .FileManagerListItems
{
    -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.9);
       -moz-box-shadow: 0 0 15px 5px rgba(0,0,0,0.9);
            box-shadow: 0 0 15px 5px rgba(0,0,0,0.9);
}

.ToolBar .btn:hover,
.ToolBar .btn:active,
.ToolBar .btn:focus,
#paste_btn.hasFile
{
    -webkit-box-shadow: 0 0 10px 0 rgba(51,51,51,0.8) inset;
       -moz-box-shadow: 0 0 10px 0 rgba(51,51,51,0.8) inset;
            box-shadow: 0 0 10px 0 rgba(51,51,51,0.8) inset;
}

#paste_btn.disabled
{
    opacity: 0.35;
}

#FileManagerContainer .FileManagerListItems div.block_row:hover,
#FileManagerContainer .FileManagerListItems .item_selected 
#FileManagerContainer .FileManagerListItems .item_selected:hover,
#FileManagerContainer .FileManagerListItems div.block_row.item_selected:hover
{
    -webkit-box-shadow: 0 0 10px 0 rgba(51,51,51,0.8) inset;
       -moz-box-shadow: 0 0 10px 0 rgba(51,51,51,0.8) inset;
            box-shadow: 0 0 10px 0 rgba(51,51,51,0.8) inset;
}