/*
 *  dark
 */

#FileManagerContainer .FileManagerList .FileManagerHead
{
    /*background: #232323;*/
    background: #ec1946;
    color: #fff;
    
/*    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.9);
       -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.9);
            box-shadow: 0 1px 3px rgba(0,0,0,0.9);*/
}

#FileManagerContainer .FileManagerListDirs,
#Dirs .panel
{
    background: #fff;    
    color: #333;
}

.panel-default>.panel-heading
{
    background: #333;
    border-radius: 0;
    color: #fff;
}

#FileManagerContainer .FileManagerListDirs .panel-body > ul
{
    color: #333;
}

#FileManagerContainer .FileManagerListDirs li.dir_active > span a
{
    color: #fff;
}

#FileManagerContainer .FileManagerListDirs li.dir_active > span > span.yw_file_manager_dir
{
    background: #ec1946;
    color: #fff;
    
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

/*#FileManagerContainer .FileManagerListItems
{
    -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.9);
       -moz-box-shadow: 0 0 15px 5px rgba(0,0,0,0.9);
            box-shadow: 0 0 15px 5px rgba(0,0,0,0.9);
}*/

.ToolBar .btn:hover,
.ToolBar .btn:active,
.ToolBar .btn:focus,
#paste_btn.hasFile
{
    -webkit-box-shadow: 0 0 10px 0 rgba(51,51,51,0.8) inset;
       -moz-box-shadow: 0 0 10px 0 rgba(51,51,51,0.8) inset;
            box-shadow: 0 0 10px 0 rgba(51,51,51,0.8) inset;
}

#paste_btn.disabled
{
    opacity: 0.35;
}

div.block_row:hover,
#FileManagerContainer .FileManagerListItems .item_selected,
#FileManagerContainer .FileManagerListItems .item_selected:hover,
div.block_row.item_selected:hover
{
    -webkit-box-shadow: 0 0 10px 0 rgba(51,51,51,0.8) inset;
       -moz-box-shadow: 0 0 10px 0 rgba(51,51,51,0.8) inset;
            box-shadow: 0 0 10px 0 rgba(51,51,51,0.8) inset;
}