{% for dir in dirs %}
    {% if dir.mimetype == 'directory' %}
        <li {% if current_path == dir.path %}class="dir_active"{% endif %}>
            <span class="yw_media_directory_line">
                {% if dir.tree is not empty %}
                    <span class="toggleDir"><i class="fa fa-caret-right"></i></span>
                {% else %}
                    <span class="noToggle"></span>
                {% endif %}
                <span title="{{ dir.name }}" class="yw_media_dir nowrap" id="{{ dir.path }}">{{ dir.name }}</span>
            </span>
            <ul>
                {% include "YouweMediaBundle:Media:media_dir.html.twig" with {'dirs': dir.tree} %}
            </ul>
        </li>
    {% endif %}
{% endfor %}