<div id="media-upload-dialog" class="modal fade">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload</h4>
            </div>
            <div class="modal-body" id="UploadContent">
                <div id="UploadLoadingScreen" class="MediaLoadingScreen">
                </div>
                {{ form_label(form.file) }}
                {{ form_widget(form.file, {'attr':{'class':'hidden', 'accept':upload_allow|join(',')} } ) }}
                <div id="dragandrophandler">Drag & Drop files here or click</div>
                <div class="modal-footer">
                    <button class="cancel btn btn-default" type="button" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="infoModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="infoContent">
            </div>
        </div>
    </div>
</div>

<div id="errorModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error!</h4>
            </div>
            <div class="modal-body" id="errorContent">
            </div>
        </div>
    </div>
</div>
<div id="previewModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Preview</h4>
            </div>
            <div class="modal-body" id="previewContent">
            </div>
        </div>
    </div>
</div>

<div id="media-confirm-dialog">
    <div class="confirmation-modal modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class=modal-header>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation required</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this?</p>

                    <p>This cannot be undone!</p>
                </div>
                <div class="modal-footer">
                    <button class="confirm confirm_delete btn btn-primary" type="button" data-dismiss="modal">
                        Yes
                    </button>
                    <button class="cancel btn btn-default" type="button" data-dismiss="modal">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>